src/__e2e__/timetable/stops.bin filter=lfs diff=lfs merge=lfs -text
src/__e2e__/timetable/timetable.bin filter=lfs diff=lfs merge=lfs -text
src/__e2e__/timetable/*.bin filter=lfs diff=lfs merge=lfs -text
